<section class="hero is-info is-fullheight-with-navbar is-fullwidth">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title"><%= page.title %></p>
      <p class="subtitle">
        <%= page.content %>
      </p>
    </div>
  </div>
</section>