<p id="notice"><%= notice %></p>

<h1>Guntypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guntypes.each do |guntype| %>
      <tr>
        <td><%= guntype.name %></td>
        <td><%= link_to 'Show', guntype %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

